@import "src/scss/variables";
@import "src/scss/mixins";
@import "src/scss/functions";

%center-content {
  display: flex;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-teal);
}

.header {
  width: 100%;
  height: 80px;
  background-color: $background-first-color;
  @extend %center-content;
  justify-content: flex-end;
  @include padding(0, 20, 0, 0);

  &__links {
    color: var(--bs-light);
    display: flex;
    justify-content: center;
    @include padding(0, 20, 0, 20);
  }

  &__vertical-line {
    width: 1px;
    height: 60%;
    background-color: var(--bs-light);
    cursor: pointer;
  }

  &__white {
    color: var(--bs-white);
    cursor: pointer;
  }
}

.tournaments {
  width: 90%;
  margin: 90px auto;
  height: 523px;
  overflow-y: scroll;
  background-color: $background-first-color;
}

.no-tournamnets {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--bs-white);
}
